external/
build*/
out/
package/

.vs/
CMakeCache.txt
CMakeUserPresets.json
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake_install.cmake
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters

*.dll
*.exe
*.exp
*.ilk
*.lib
*.obj
*.pdb
*.7z
*.zip
*.log

.idea/
.vscode/
Thumbs.db
Desktop.ini
